In [41]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime, date

games = pd.read_csv('games_2009_2011.csv')
games.set_index('match_id')
BASE_URL = 'http://espn.go.com/nba/boxscore?gameId={0}'

request = requests.get(BASE_URL.format(games['match_id'][0]))

table = BeautifulSoup(request.text,'lxml').find('table', class_='mod-data')
heads = table.find_all('thead')
#headers = heads[0].find_all('tr')[1].find_all('th')[1:]
headers = heads[0].find_all('tr')[0].find_all('th')[1:]
headers = [th.text for th in headers]
columns = ['match_id', 'team', 'playerId'] + headers
players = pd.DataFrame(columns=columns)
players

Empty DataFrame
Columns: [match_id, team, playerId, MIN, FG, 3PT, FT, OREB, DREB, REB, AST, STL, BLK, TO, PF, +/-, PTS]
Index: []

In [42]:
def get_players(players, team_name, matchId):
    array = np.zeros((len(players), len(headers)+1), dtype=object)
    array[:] = np.nan
    for i, player in enumerate(players):
        cols = player.find_all('td')
        if cols[1].text.startswith('DNP') or cols[1].text.startswith('NWT'):
            continue
        try:
            array[i, 0] = cols[0].a['href'].split('/')[7]
        except:
            pass
        for j in range(1, len(headers) + 1):
            array[i, j] = cols[j].text
    frame = pd.DataFrame(columns=columns)
    for x in array:
        line = np.concatenate(([matchId, team_name], x)).reshape(1,len(columns))
        new = pd.DataFrame(line, columns=frame.columns)
        frame = frame.append(new)
    return frame

In [45]:
for index, row in games.iterrows():
    if index > 50:   #for test
        break
    print((index), row['match_id'])
    request = requests.get(BASE_URL.format(row['match_id']))
    bodies = BeautifulSoup(request.text,'lxml').find_all('tbody')
    team_1 = 'visit'
    try:
        team_1_players = bodies[1].find_all('tr') + bodies[2].find_all('tr')[:-2]
        team_1_players = get_players(team_1_players, team_1, row['match_id'])
        players = players.append(team_1_players)
        team_2 = 'home'
        team_2_players = bodies[3].find_all('tr') + bodies[4].find_all('tr')[:-2]
        team_2_players = get_players(team_2_players, team_2, row['match_id'])
        players = players.append(team_2_players)
    except:
        pass


players = players.set_index(['match_id'])

players.FG = '\'' + players.FG
players['3PT'] = '\'' + players['3PT']
players.FT = '\'' + players.FT
print(players)
#players.to_csv('GameData_2009_2011.csv')

0 281028002
1 281031002
2 281101011
3 281104010
4 281105025
5 281107002
6 281109008
7 281110002
8 281112002
9 281114002
10 281115015
11 281118002
12 281120002
13 281121016
14 281123028
15 281126002
16 281128002
17 281129030
18 281201002
19 281203002
20 281205002
21 281207011
22 281211027
23 281212002
24 281215002
25 281217001
26 281219002
27 281221002
28 281223002
29 281225013
30 281226009
31 281228023
32 281230022
33 290102002
34 290104018
35 290106030
36 290107002
37 290109005
38 290111028
39 290112002
40 290114002
41 290117017
42 290119002
43 290121014
44 290122019
45 290125002
46 290128002
47 290130008
48 290201002
49 290203020
50 290205002
            team playerId MIN      FG   3PT      FT OREB DREB REB AST STL BLK  \
match_id
281028002  visit      885  19    '1-1  '0-0    '0-0    0    4   4   0   0   1
281028002  visit     1966  36   '9-21  '0-4    '4-8    1    6   7   6   2   1
281028002  visit      362  30    '3-5  '0-0   '9-10    3    5   8   1   0   0
281028002  visit     2178  31   '4-10  '3-5    '1-1    0    3   3   2   1   0
281028002  visit     2422  35    '2-4  '0-1    '2-2    0    2   2   2   0   0
281028002  visit     3440   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002  visit      959  10    '1-3  '0-0    '0-0    0    2   2   1   1   0
281028002  visit     2850   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002  visit     3437   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002  visit     2419  26    '3-6  '0-0    '3-5    4    5   9   1   3   0
281028002  visit      796   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002  visit     3006  23    '2-8  '0-2    '2-3    0    3   3   3   0   0
281028002  visit     3045   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002  visit     2172  13    '3-6  '0-2    '1-2    0    3   3   0   0   0
281028002  visit      831  16    '1-4  '0-1    '2-2    0    0   0   0   1   0
281028002   home      261  36   '5-15  '0-0    '1-4    1    5   6   2   2   0
281028002   home      662  38  '10-19  '2-4    '5-8    1    2   3   4   1   0
281028002   home     2018  21    '1-2  '0-0    '0-0    4    4   8   0   0   0
281028002   home     3026  30    '4-5  '0-0   '6-10    1    4   5   6   3   0
281028002   home        9  41    '2-9  '1-4    '3-4    1    3   4   1   1   0
281028002   home     1021   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002   home     3200  16    '1-3  '0-0    '0-0    0    4   4   2   1   0
281028002   home     3023  23    '5-7  '0-0    '3-4    1    1   2   0   0   0
281028002   home     3464   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002   home     3019   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002   home     3227   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002   home      138   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002   home     3429   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
281028002   home     2367  17    '4-9  '0-2    '3-4    1    2   3   1   1   0
281028002   home      348  18    '1-5  '0-4    '0-0    0    1   1   0   1   0
...          ...      ...  ..     ...   ...     ...  ...  ...  ..  ..  ..  ..
290203020   home     1725   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290203020   home     2799  26    '3-7  '0-0    '5-5    0    0   0   4   1   0
290205002  visit      617  35   '6-10  '1-2   '7-11    2    4   6   3   2   0
290205002  visit     2027  33    '2-5  '1-1    '0-0    0    2   2   3   2   0
290205002  visit      110  45  '10-29  '4-8    '2-4    2    8  10   5   1   2
290205002  visit      996  46  '10-14  '0-0    '4-7    7    7  14   3   1   1
290205002  visit      246  41   '5-13  '1-5    '2-3    0    1   1   5   3   0
290205002  visit     2197  22    '3-5  '0-0    '0-0    1    3   4   0   0   0
290205002  visit     1016   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002  visit     2426  11    '1-5  '0-2    '0-1    0    2   2   0   1   0
290205002  visit      549   2    '1-1  '0-0    '0-0    0    0   0   0   0   0
290205002  visit     2450   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002  visit     2748   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002  visit     3002  12    '3-3  '1-1    '0-1    0    2   2   1   1   0
290205002  visit     2421  17    '1-3  '1-3    '2-2    0    1   1   1   1   0
290205002  visit     3245   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002   home      261  33   '7-12  '0-0    '2-2    1    5   6   2   1   3
290205002   home      662  45   '5-13  '1-3  '10-13    0    8   8   5   2   0
290205002   home     2018  35    '1-3  '0-0    '2-2    2    7   9   0   1   4
290205002   home     3026  37   '7-16  '0-0    '2-2    2    6   8  12   1   0
290205002   home        9  47   '9-21  '3-9    '1-1    0    2   2   3   1   0
290205002   home     1021   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002   home     3200  22    '1-8  '0-0    '0-0    1    2   3   1   0   0
290205002   home     3023  16    '5-7  '0-0    '0-0    5    3   8   0   0   0
290205002   home     3464   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002   home     3019   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002   home     3227   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002   home      138   0    '0-0  '0-0    '0-0    0    0   0   0   0   0
290205002   home     2367  11    '1-3  '0-0    '0-0    0    0   0   2   1   1
290205002   home      348  20   '6-10  '4-6    '0-0    1    2   3   1   1   0

          TO PF  +/- PTS
match_id
281028002  1  2   -1   2
281028002  3  4   -3  22
281028002  4  3   +7  15
281028002  4  5   +3  12
281028002  1  0  -10   6
281028002  0  0   -1   0
281028002  1  4   +0   2
281028002  0  0   -1   0
281028002  0  0   +0   0
281028002  2  2   -7   9
281028002  0  0   -1   0
281028002  0  1   -8   6
281028002  0  0   +0   0
281028002  3  1   -3   7
281028002  2  4   -3   4
281028002  2  1   +5  11
281028002  2  4  +12  27
281028002  2  6   -7   2
281028002  2  5   +4  14
281028002  4  1   -1   8
281028002  0  0   +0   0
281028002  2  2   +1   2
281028002  1  4  +12  13
281028002  0  0   -1   0
281028002  0  0   +0   0
281028002  0  0   +0   0
281028002  0  0   -1   0
281028002  0  0   -1   0
281028002  0  2   -2  11
281028002  1  3   +1   2
...       .. ..  ...  ..
290203020  0  0   +0   0
290203020  0  3   -7  11
290205002  1  4   +8  20
290205002  2  1   +2   5
290205002  3  2   -3  26
290205002  3  1   +8  24
290205002  0  5   +1  13
290205002  0  2   -7   6
290205002  0  0   +0   0
290205002  0  3   +2   2
290205002  0  0   -5   2
290205002  0  0   +0   0
290205002  0  0   +0   0
290205002  0  3   +0   7
290205002  2  3   -1   5
290205002  0  0   +0   0
290205002  4  6   +9  16
290205002  5  2   -9  21
290205002  0  4   -4   4
290205002  2  4   -1  16
290205002  3  2   +6  22
290205002  0  0   +6   0
290205002  1  3  -13   2
290205002  1  3   +2  10
290205002  0  0   +0   0
290205002  0  0   +0   0
290205002  0  0   +0   0
290205002  0  0   -1   0
290205002  0  1   -1   2
290205002  0  3   +6  16

[1449 rows x 16 columns]

In [46]:
players.to_csv('GameData_2009_2011.csv')

In [26]:
print('\'')

'